snippet styled
	export const ${1} = styled.${2}\`${3}`;
snippet theme
	${({ theme }) => theme.${1}};
snippet prpd
	const { ${1} } = this.props;
snippet describe
	describe('${1}', () => {
		${2}
	});
snippet before
	beforeEach(() => {
		${2}
snippet it
	it('${1}', () => {
		${2}
	});
snippet div
	<div>${1}</div>
snippet span
	<span>{1}</span>
